.link {
  color: var(--stroke);
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.link.inherit {
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--fill);
}

.link:active {
  color: var(--stroke);
}

.link:disabled {
  cursor: not-allowed;
}
