.link {
  color: var(--heavy-fill, var(--fill), var(--accent));
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

.link.inherit {
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--fill, var(--accent-hover));
}

.link:active {
  color: var(--heavy-fill, var(--fill), var(--accent-active));
}

.link:disabled {
  cursor: not-allowed;
}
