@import "styles/vars";

.inherit {}

.default {
  --fill: var(--default-fill);
  --stroke: var(--default-stroke);
  --text: var(--default-text);
}

.coral {
  --fill: #{$coral};
  --stroke: #{$cranberry};
  --text: #{$white};
}

.canary {
  --fill: #{$canary};
  --stroke: #{$mustard};
  --text: #{$sweater-black};
}

.salt-blue {
  --fill: #{$salt-blue};
  --stroke: #{$mountain-blue};
  --text: #{$white};
}

.sweater-black {
  --fill: #{$sweater-black};
  --stroke: #{$white};
  --text: #{$white};
}

.white {
  --fill: #{$white};
  --stroke: #{$sweater-black};
  --text: #{$sweater-black};
}

.pattern {
  --fill: var(--pattern-fill);
  --stroke: var(--default-text);
  --text: var(--default-text);
}
