@import "styles/vars";

$radius: 6px;

.wrapper {
  border: 2px solid;
  display: block;
  overflow: hidden;

  &:first-of-type {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }

  &:last-of-type {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  & + & {
    border-top: 0;
  }

  & > & {
    border: 0;
    border-radius: 0;
  }
}

.row {
  display: flex;

  & > .wrapper {
    flex-grow: 1;
    flex-shrink: 1;
  }

  & > .wrapper:not(:first-child) {
    border-left: 2px solid;
  }
}

.input {
  background: var(--default-fill);
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
  color: var(--default-text);
  font-weight: 600;
  outline: 0;
  padding: 5px 15px;
  width: 100%;

  &:focus {
    background: mix($coral, $white, 30%);
    color: $sweater-black;
  }

  &:disabled {
    background: #dadada;
    color: #444;
    cursor: not-allowed;
  }

  &:invalid:not(:focus) {
    background: $canary;
    color: $black;
  }
}
