.wrapper {
  display: grid;
  grid-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 3fr 1fr;
}

.feature {
  border: 5px solid var(--fill);
  grid-area: 1 / 1 / 4 / 1;
}

.feature,
.thumbnail {
  border-radius: 7px;
  overflow: hidden;
}

.feature,
.image {
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
