.wrapper {
  --gap-size: 16px;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 3fr 1fr;
}

.feature {
  grid-area: 1 / 1 / 4 / 1;
  padding-right: calc(1 / 4 * var(--gap-size));
}

.thumbnail {
  padding-left: calc(3 / 4 * var(--gap-size));
}

.thumbnail:not(:last-of-type) {
  margin-bottom: var(--gap-size);
}

.image {
  border: 5px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 100%;
}

.thumbnail .image {
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.25),
              0 4px 3px -5px rgba(0, 0, 0, 0.35);
}

.feature,
.thumbnail:hover,
.thumbnail:focus {
  .image {
    border-color: var(--fill);
  }
}
