@import 'styles/vars';

.page {
  margin: 0 auto;
  max-width: var(--document-width);
  padding: 0 30px;
}

.icon {
  margin: 48px 0 36px;
  max-width: 70px;
}

@media (min-width: $tablet-min-width) {
  .page {
    padding: 0 40px;
  }
}
