@import "styles/vars";

.page {
  margin: 0 auto;
  max-width: var(--document-width);
  padding: 0 30px;
}

.icon {
  color: var(--stroke);
  margin: 80px 0 50px;
  max-width: 70px;
}

.icon.inherit {
  color: inherit;
}

@media (min-width: $tablet-min-width) {
  .page {
    padding: 0 40px;
  }
}
