@import "styles/vars";

.wrapper {
  --offset-size: 18px;

  padding-right: var(--offset-size);
  padding-top: var(--offset-size);
  position: relative;
  width: 100%;
}

.content {
  border: 5px solid transparent;
  border-radius: var(--inner-bevel);
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  .wrapper:hover &,
  .link:focus & {
    border-color: var(--fill);
  }
}

.label {
  margin-top: 12px;
}

@media (min-width: $tablet-min-width) {
  .wrapper {
    box-sizing: border-box;
  }
}
