.wrapper {
  max-width: 300px;
  position: relative;
}

.link {
  color: inherit;
}

.content {
  border-top-left-radius: var(--outer-bevel);
  border-top-right-radius: var(--outer-bevel);
  height: 150px;
  width: 100%;
}

.label {
  padding: 10px 24px 12px;
}

.title {
  font-weight: bold;
}

.subtitle {
  opacity: 0.8;
}