@import "styles/vars";

.label {
  padding: 6px 18px 14px 24px;
  position: relative;
}

.label::before {
  background: var(--fill);
  content: "";
  border-radius: 6px;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  width: 7px;
}

.title:only-child {
  line-height: 48px;
}

.link:hover,
.link:focus {
  .title {
    color: var(--heavy-fill, var(--fill));
  }
}
