@import "styles/vars";

.label {
  display: block;
  padding: 6px 18px 12px 24px;
  position: relative;
}

.label::before {
  background: var(--fill);
  content: "";
  border-radius: 6px;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  width: 7px;
}

.title {
  margin-bottom: 6px;
}

.title:only-child {
  line-height: 48px;
}

.link:hover,
.link:focus {
  .title {
    color: var(--stroke);
  }
}
