/* Text component modes */

.heading {
  font-family: var(--default-font);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;

  &.uppercase {
    letter-spacing: 0.02em;
  }
}

.subheading {
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.005em;

  &.uppercase {
    letter-spacing: 0.05em;
    word-spacing: 0.12em;
  }
}

.body {
  font-family: var(--accent-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.01em;

  &.uppercase {
    letter-spacing: 0.035em;
  }
}

.caption {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;

  &.uppercase {
    letter-spacing: 0.04em;
  }
}

/* Modifiers */

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.uppercase {
  text-transform: uppercase;
}

.noWrap {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
