.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 30px;
  padding-right: 18px;
}

.logo {
  width: 100px;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  margin-left: 24px;
}
