@import "styles/vars";

.content {
  display: grid;
  grid-gap: 24px;
}

.description {
  margin: 12px 0;
  padding-left: 24px;
}

.link {
  font-weight: 700;
}

.content {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}
