@import "styles/vars";

.grid {
  display: grid;
  grid-gap: 20px;
}

.content {
  margin-top: 40px;
}

@media (min-width: $desktop-min-width) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .content {
    margin: 100px 0 60px;
  }
}
