:root {
  --primary-fill: #fff;
  --primary-text: #1a1a1a;
  --secondary-fill: #f0f0f0;
  --secondary-text: #000;
  --accent-default: #d62;
  --accent-hover: #c41;
  --accent-active: #b20;

  --inner-bevel: 3px;
  --outer-bevel: 0;
}

@media (min-width: 800px) {
  :root {
    --outer-bevel: 6px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-fill: #000;
    --primary-text: #f0f0f0;
    --secondary-fill: #282828;
    --secondary-text: #fefefe;
    --accent-default: #fc4;
    --accent-hover: #ea2;
    --accent-active: #d80;
  }
}

html,
body {
  background: var(--primary-fill);
  color: var(--primary-text);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  margin: 0;
}
