.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 60vw;
  padding: 5rem 0;
}

.title {
  margin: 0 0 24px;
}

.description,
.smiley {
  color: var(--fill);
  line-height: 38px;
}

.description {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

.smiley {
  font-size: 40px;
}
