@import "styles/vars";

.wrapper {
  // offset and position used for price label
  --offset-size: 18px;
}

.label {
  transform: translateX(calc(var(--offset-size) * -1));
}

.images {
  position: relative;
}

.images,
.info {
  padding-top: var(--offset-size);
}

.info {
  display: flex;
  flex-direction: column;
}

.description {
  flex-grow: 1;
  margin: 20px 0 60px;
  padding-left: 24px;
}

@media (min-width: $desktop-min-width) {
  .wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 3fr 2fr;
    transform: none;
  }

  .description {
    margin: 18px 0 24px;
  }
}
