@import 'styles/vars';

.products {}


@media (min-width: $tablet-min-width) {
  .products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $desktop-min-width) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
