$tablet-min-width: 580px;
$desktop-min-width: 960px;

$black: #000;
$canary: #ffc45d;
$coral: #ff7f7f;
$cranberry: #a44c4c;
$mountain-blue: #617b89;
$mustard: #e29921;
$salt-blue: #bfd7e4;
$sweater-black: #272727;
$white: #fff;
